.DS_Store
build_conan/
build/
last_built_commit.hash
*.pyc
*.out
git.h
drivers/eraetouch_git.h
.cache
fpga_dac_code/top_impltrace.vcd
fpga_dac_code/top_impl
fpga_dac_code/verilog/top_impltrace.vcd
fpga_dac_code/verilog/top_impl
fpga_dac_code/obj_dir/
fpga_dac_code/icecube_project/icecube_project_Implmnt/
init_code/*
scratchpad.txt
ve/
JUCE/
erae2_fpga/diamond/*
!erae2_fpga/diamond/erae2_diamond.lpf
!erae2_fpga/diamond/erae2_diamond.ldf
!erae2_fpga/diamond/erae2_diamond1.sty
!erae2_fpga/diamond/erae2_diamond/erae2_diamond_erae2_diamond.bit
erae2_fpga/verilog/obj_dir
erae2_fpga/verilog/top_impltrace.vcd
